*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-color: grey;
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width:310px;
    height:480px;
    background-color: black;
}
.display{
    height:100px;
    width:100vw;
    text-align: right;
    color:white;
    font-size:35px;
    padding-top: 5px;
}

.num-container{
    width:75%;
}
.ops-container{
    width:25%;
}

.grey{
    background-color: grey;
}
.dark-grey{
    background-color: darkgrey;
}
.orange{
    background-color: rgb(165, 56, 16);
}

button{
    height:60px;
    width:60px;
    padding:5px 10px;
    border:1px solid black;
    cursor:pointer;
    border-radius:50%;
    font-size: 20px;
    font-weight: 500;
    margin:5px;
}
button:hover{
    border-color: white;
    color:black;
}
.big-h{
    width:120px;
    border-radius: 50px;
}
.ac{
    margin-right: 50%;
}